<a href="https://colab.research.google.com/github/ChethanMG144/Python_Practice/blob/Python_practice_1/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(4)

4

In [4]:
print('Please enter the numbers')
num1 = input('please enter the 1st number:')
num2 = input('please enter the 2nd number:')
print('sum of the the two numbers is: ', int(num1) + int(num2))

Please enter the numbers
please enter the 1st number:5
please enter the 2nd number:4
sum of the the two numbers is:  9

In [36]:
x,y,z = 2,3,4
print('\n',x,'\n',y,'\n',z)
print(x,y,z,sep='\n')
print(x,y,z)
print()

 2
 3
 4
2
3
4
2 3 4

In [34]:
print('Hi Guys {0} {1} {2}'.format(0,20,num1+num2))

Hi Guys 0 20 54

In [44]:
#string formatting
#a**b; a power b

#right justify syntax:- {index:>desired number of spaces}

print('{0} {1}'.format(z,x**100))
print('{0} {1:>10}'.format(z,x**100))

4 1267650600228229401496703205376
4 1267650600228229401496703205376

In [45]:
num1 = input('1st number: ')
num2 = input('2nd number: ')
print('Hi All. 1st number is {0} and 2nd number is {1}'.format(num1,num2))

1st number: 4
2nd number: 5
Hi All. 1st number is 4 and 2nd number is 5

In [47]:
print('test')

test

In [58]:
new_num1 = str(num1)
print(num1.rjust(5))
print(num1.ljust(5))
print(new_num1.center(5))

    4
4
  4

In [59]:
## Data Structures
# Array - one dimensional DS
# List(Array), Tuple, Dictionary and Set

In [62]:
lst = [0,-2,6,7]
print(lst)
print(lst[0])
print(lst[1])

[0, -2, 6, 7]
0
-2

In [65]:
lst[0] = 1 # reassigning the value of list

In [64]:
print(lst[0])

1

In [66]:
len(lst) # get the length of the list

4

In [86]:
#slicing
# list[begin:end:step]
#begin:- start of the array
#end:- end of the array
#step:- increment

new_lst = [10,20,30,40,50,60,70,80,90,100]

print(new_lst)
print('print all: ',new_lst[0:])
print('1st 5 elements: ',new_lst[0:5])
print('increment by 2: ',new_lst[0::2])
print('start from last element: ', new_lst[-1::-1])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print all:  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
1st 5 elements:  [10, 20, 30, 40, 50]
increment by 2:  [10, 30, 50, 70, 90]
start from last element:  [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [87]:
range(20)

range(0, 20)

In [88]:
list(range(20)) # convert an range to a list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [93]:
a = list(range(20))

In [94]:
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [96]:
print(a[5:15])

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [97]:
print(a[15])

15

In [98]:
del a[0]

In [101]:
print(len(a))
print(a[0:])

19
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [121]:
print(a.reverse())
a

None

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [118]:
names = ['chethan','3ni','dumma','motte']

In [112]:
print(names)
print(names.reverse())
names.index('3ni')

['motte', 'dumma', '3ni', 'chethan']
None

1

In [127]:
names.append('raghu')

In [130]:
del names[5]

In [131]:
names

['chethan', '3ni', 'dumma', 'motte', 'raghu']

In [137]:
#2D - Two dimensional array
a = [[1,2,3,4],[5,6,7,8]]
print(a)
print(a[0][2])

[[1, 2, 3, 4], [5, 6, 7, 8]]
3

In [139]:
#Tuples - are immutable(data is read only)
#use parenthese () to declare unlike in list where we use [].


#Dictionary -  (key,value) pairs
# use {} to declare it - eg: a = {'chethan':496573,'ravi':496515}
#print(a['chethan'])
a = {'chethan':496573,'ravi':496515}
print(a['chethan'])

496573

In [141]:
#Sets - same as list but no duplicates allowed
#use {} to declare it.
basket = {'apple','banana','mango','mango'}
basket
print(basket)

{'apple', 'mango', 'banana'}