<a href="https://colab.research.google.com/github/ChethanMG144/Python_Practice/blob/Python_practice_1/Python_practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Conditional statements
#syntax: if condition:
             #block

if a == 'yes':
  "Chethan"

In [6]:
print("please enter two numbers to divide")

dividend = int(input('Please enter the 1st number: '))
divisor = int(input('Please enter the 2nd number: '))

if divisor != 0:
   print(dividend, '/', divisor, '=', int(dividend/divisor))
else:
  print('Division by zero is not allowed')

please enter two numbers to divide
Please enter the 1st number: 8
Please enter the 2nd number: 0
Division by zero is not allowed

In [ ]:
#nested if else
num = int(input('..'))
if num > 0:
  if num < 999: print('...')
  else: print('...')
else: print('...')

In [10]:
print("Help! My computer doesn't work!")
print("Does the computer make any sound like (fans, etc..)")
choice = input("or show any lights (y/n)")

if choice == 'n':
   choice = input("Is it plugged it in? (y/n)")
   if choice == 'n':
     print("Plug it in. If problem persis,")
     print("please run this program again.")
   else:
     choice = input("Does the computer have any fuse? (y/n)")
     if choice == 'n':
       print("Check the fuse. Replace it if necessary.")
       print("If the problem persists, then run the program again.")
     else:
       print("please consult a service consultant")

Help! My computer doesn't work!
Does the computer make any sound like (fans, etc..)
or show any lights (y/n)n
Is it plugged it in? (y/n)y
Does the computer have any fuse? (y/n)n
Check the fuse. Replace it if necessary.
If the problem persists, then run the program again.

In [12]:
value = int(input("please enter value between 0 to 5"))

if value < 0:
  print("Too Small")
else:
  if value == 0:
    print("Zero")
  else:
      if value == 1:
        print("One")
      else:
        if value == 2:
          print("Two")
        else:
          if value == 3:
            print("three")
          else:
            if value == 4:
              print("Four")
            else:
              if value == 5:
                print("Five")
              else:
                print("Too Large")
print("Done")

please enter value between 0 to 56
Too Large
Done

In [19]:
marks = [83,75,74.9,70,69.9,65,60,59.9,55,49.9,45,44.9,40,39.9,2,0]
grades = []

In [24]:
for mark in marks:
 if mark >= 75:
  grades.append("First")
 elif 70 <= mark < 75:
   grades.append("Upper Second")
 elif 60 <= mark < 70:
   grades.append("Second")
 elif 50 <= mark < 60:
   grades.append("Third")
 elif 45 <= mark < 50:
   grades.append("F1 Supp")
 elif 40 <= mark < 45:
   grades.append("F2")
 else: grades.append("F3")

In [26]:
grades
print(grades,sep=",")

['First', 'First', 'Upper Second', 'Upper Second', 'First', 'First', 'Upper Second', 'Upper Second', 'Second', 'Second', 'Second', 'Third', 'Third', 'F1 Supp', 'F1 Supp', 'F2', 'F2', 'F3', 'F3', 'F3']

In [27]:
# For loop
for i in [5,4,3,2,1]:
  print("The number is :", i)
print("Out of list")

The number is : 5
The number is : 4
The number is : 3
The number is : 2
The number is : 1
Out of list

In [29]:
list(range(10))
#range(begin,end,step)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for i in range(5):
  print(i, end=' ')

0 1 2 3 4

In [33]:
word = "Apple"
for letter in word:
  print("letter is :", letter)

letter is : A
letter is : p
letter is : p
letter is : l
letter is : e

In [34]:
frens_lst = ["Chethan","3ni","Dumma","motte"]
for myfren in frens_lst:
  print("Happy New Year ", myfren)

Happy New Year  Chethan
Happy New Year  3ni
Happy New Year  Dumma
Happy New Year  motte

In [40]:
#Excercise 1
# Count number of vowel in a text
vowel_word = input("please enter the text ")
vowel_count = 0

for let in vowel_word:
  if let == 'a' or let == 'e' or let == 'i' or let == 'o' or let == 'u' or \
     let == 'A' or let == 'E' or let == 'I' or let == 'O' or let == 'U':
     print(let,",",end='')
     vowel_count = vowel_count + 1
print('(',vowel_count,' vowels)')

please enter the text Chethan
e ,a ,( 2  vowels)

In [41]:
# while loop - indefinite loop

max_num = 10

while(max_num >= 0):
  print("value is :", max_num)
  max_num = max_num - 1; #Ending Condition. This control is very much necessary otherwise it will goes into a infinite loop

print("Out of loop")

value is : 10
value is : 9
value is : 8
value is : 7
value is : 6
value is : 5
value is : 4
value is : 3
value is : 2
value is : 1
value is : 0
Out of loop

In [43]:
# interactive while loop
num = 0
sum = 0

print('Please enter the number to add')
while num >=0:
  num = int(input('enter the number: '))
  if num >= 0:
    sum = sum + num
print("total is: ", sum)

Please enter the number to add
enter the number: 5
enter the number: 7
enter the number: -9
total is:  12

In [ ]:
lng_value = 10848584530505

In [49]:
# Break statement
for i in [12,16,17,24,29]:
  if i % 2 == 1:
    break
print(i)
print("Done!")

17
Done!

In [87]:
for i in range(10):
  for x in range(i):
    print(x, end=' ')
  print("")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6 7 8

In [84]:
for i in range(1):
 print(i)

0

In [86]:
list(range(2))

[0, 1]

In [90]:
list_num = [10,4,5,7,-4,34,3,-6]

In [98]:
sum=0
for i in list_num:
  sum = sum + i
print("total is: ", sum)

total is:  53

In [99]:
len(list_num)

8

In [100]:
i = 0
sum=0
while i < len(list_num):
 sum = sum + list_num[i]
 i = i + 1
print(sum)

53

In [101]:
# try catch
randomList = [2,5,6,'a',7,'b',9,'c',5]

sum = 0
errors = 0
for i in randomList:
  try:
    print("The number is :", i)
    sum = sum + int(i)
  except Exception as e:
    print("Oops!", e.__class__, "occured")
    errors = errors + 1
    print()

print("the total is ", sum, "with", errors, "errors")

The number is : 2
The number is : 5
The number is : 6
The number is : a
Oops! <class 'ValueError'> occured

The number is : 7
The number is : b
Oops! <class 'ValueError'> occured

The number is : 9
The number is : c
Oops! <class 'ValueError'> occured

The number is : 5
the total is  34 with 3 errors