<a href="https://colab.research.google.com/github/ChethanMG144/Python_Practice/blob/Python_practice_1/python_practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(4)

4

In [4]:
print('Please enter the numbers')
num1 = input('please enter the 1st number:')
num2 = input('please enter the 2nd number:')
print('sum of the the two numbers is: ', int(num1) + int(num2))

Please enter the numbers
please enter the 1st number:5
please enter the 2nd number:4
sum of the the two numbers is:  9

In [36]:
x,y,z = 2,3,4
print('\n',x,'\n',y,'\n',z)
print(x,y,z,sep='\n')
print(x,y,z)
print()

 2
 3
 4
2
3
4
2 3 4

In [34]:
print('Hi Guys {0} {1} {2}'.format(0,20,num1+num2))

Hi Guys 0 20 54

In [44]:
#string formatting
#a**b; a power b

#right justify syntax:- {index:>desired number of spaces}

print('{0} {1}'.format(z,x**100))
print('{0} {1:>10}'.format(z,x**100))

4 1267650600228229401496703205376
4 1267650600228229401496703205376

In [45]:
num1 = input('1st number: ')
num2 = input('2nd number: ')
print('Hi All. 1st number is {0} and 2nd number is {1}'.format(num1,num2))

1st number: 4
2nd number: 5
Hi All. 1st number is 4 and 2nd number is 5